@import url(../utility/variable.css);

#clients{
    min-height: 120vh;
    display: grid;
    background-color:white;
    place-items: center;
    grid-template-columns: repeat(3,minmax(250px,1fr));
    grid-template-rows: repeat(2,minmax(250px,1fr));
    gap: 2px;
    padding:5rem;
}
.box{
    width: 100%;
    height: 100%;  
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#box1{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(1);
}

#box2{
    background-image:url(../../assets/garden.jpg) ;
}
#box3{
    background-image:url(../../assets/saashi.png) ;
}
#box4{
    background-image: url(../../assets/prime.png);
}
@media screen and (max-width:1000px) {
    #clients{
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        grid-auto-rows: 250px;
    }

}

@media screen and (min-width:1000px) {
    
    #box1{
        grid-column: span 2;
    }
    
    #box7{
        grid-column: span 2;    
    }
}